.crd:hover{
    box-shadow: 10px 5px 5px 5px rgb(121, 121, 121);
    transition-duration: 0.5s;
}

.crd:hover h5{
    font-size: 30px;
    transition-duration: 0.2s;
}

.crd:hover .name{
    color: rgb(65, 65, 227);
    font-size: 30px;
    transition-duration: 0.2s;
}